/* variables */
/* colors */
/* base */
/* typo */
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Raleway:wght@400;500;600;700&display=swap");
h1 {
  font-family: "Gloria Hallelujah", cursive;
}

h2 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

/* button */
.button {
  font-family: "Raleway", sans-serif;
  padding: 12px 30px;
  text-transform: uppercase;
  font-weight: 600;
  background: transparent;
  border: 2px solid #B67090;
  color: #B67090;
}
.button:hover {
  background-color: #B67090;
  color: #ffffff;
}

/* structure */
/* header */
.title-page {
  font-weight: 500;
  font-size: 70px;
}
@media (max-width: 768px) {
  .title-page {
    font-size: 60px;
  }
}
@media (max-width: 576px) {
  .title-page {
    font-size: 50px;
  }
}

.slogan {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .slogan {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .slogan {
    font-size: 28px;
  }
}

/* product */
.name-product {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 36px;
}
@media (max-width: 768px) {
  .name-product {
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  .name-product {
    font-size: 28px;
  }
}
.name-product::after {
  content: "";
  display: block;
  border-bottom: 3px solid #B67090;
  width: 65px;
  height: 5px;
}
@media (max-width: 768px) {
  .name-product::after {
    width: 55px;
  }
}
@media (max-width: 576px) {
  .name-product::after {
    width: 50px;
  }
}

.description-product {
  margin: 30px 0 10px 0;
}
@media (max-width: 576px) {
  .description-product {
    margin: 20px 0 5px 0;
  }
}

.price-product {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 0 20px 0 0;
}
@media (max-width: 576px) {
  .price-product {
    font-size: 20px;
  }
}

/* header */
/* navigation */
.navbar-custom {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #F3E9F1;
}
.navbar-custom .navbar-brand {
  font-family: "Gloria Hallelujah", cursive;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.6px;
  font-weight: 700;
  margin-right: 40px;
}
.navbar-custom .navbar-brand .logo {
  max-width: 160px;
}
@media (max-width: 576px) {
  .navbar-custom .navbar-brand .logo {
    max-width: 120px;
  }
}
.navbar-custom .navbar-toggler {
  border: none;
  font-size: 24px;
}
.navbar-custom .navbar-toggler:focus {
  box-shadow: none;
  text-decoration: none;
}
.navbar-custom .navbar-toggler i {
  font-size: 35px;
  color: #B67090;
}
@media (max-width: 576px) {
  .navbar-custom .navbar-toggler i {
    font-size: 30px;
  }
}
.navbar-custom .navbar-collapse {
  flex-grow: 0;
}
.navbar-custom .navbar-collapse .navbar-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.6px;
  color: #000000;
  margin-left: 5px;
}
.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #B67090;
}

/* masthead */
.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(112px + 72px);
  padding-bottom: 112px;
  background-color: #B67090;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
@media (min-width: 992px) {
  .masthead {
    padding-top: calc(160px + 55px);
    padding-bottom: 160px;
  }
}
.masthead .masthead-content {
  z-index: 1;
  position: relative;
}
.masthead .scroll {
  transform: translateY(120px);
}
@media (max-width: 992px) {
  .masthead .scroll {
    transform: translateY(80px);
  }
}
.masthead .scroll i {
  font-size: 35px;
  color: #ffffff;
}
@media (max-width: 576px) {
  .masthead .scroll i {
    font-size: 30px;
  }
}

/* footer */
.container-copy {
  background-color: #F3E9F1;
}
.container-copy p {
  font-size: 16px;
  font-weight: 500;
}

/* index */
/* container teddies */
#container-teddies .product {
  display: flex;
}
@media (max-width: 992px) {
  #container-teddies .product {
    margin-bottom: 120px;
  }
}
@media (max-width: 576px) {
  #container-teddies .product {
    margin-bottom: 80px;
  }
}
#container-teddies .product:nth-child(1) {
  margin-top: 50px;
}
@media (max-width: 576px) {
  #container-teddies .product:nth-child(1) {
    margin-top: 25px;
  }
}
#container-teddies .product:nth-child(2n) {
  flex-direction: row-reverse;
}
#container-teddies .product .name-product {
  cursor: pointer;
}
#container-teddies .img-fluid {
  cursor: pointer;
}

/* produit */
/* Container product */
#container-product {
  transform: translateY(-75px);
}
@media (max-width: 992px) {
  #container-product {
    transform: none;
  }
}
#container-product .page-product {
  display: flex;
  align-items: center;
}
#container-product .page-product .picture-product {
  width: 100%;
  border: 30px solid #ffffff;
}
@media (max-width: 992px) {
  #container-product .page-product .picture-product {
    border: none;
  }
}
#container-product .page-product .product {
  transform: translateY(93px);
}
@media (max-width: 1200px) {
  #container-product .page-product .product {
    transform: translateY(75px);
  }
}
@media (max-width: 992px) {
  #container-product .page-product .product {
    transform: none;
  }
}
#container-product .page-product .product .wrapper-colors-price {
  display: flex;
  align-items: center;
}
#container-product .page-product .product .wrapper-colors-price #color-product {
  height: 33px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
#container-product .page-product .product .button {
  margin-top: 40px;
}

/* Modal */
.modal-content .modal-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.modal-content .close {
  border: none;
  background: transparent;
  font-family: "Raleway", sans-serif;
  color: #B67090;
  font-size: 26px;
  font-weight: 800;
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content #modal-body {
  font-family: "Raleway", sans-serif;
  padding: 15px;
}
.modal-content .modal-footer a {
  text-decoration: none;
}
@media (max-width: 576px) {
  .modal-content .modal-footer > * {
    margin: 0;
  }
}
.modal-content .modal-footer .button {
  font-size: 14px;
  padding: 12px 20px;
}
@media (max-width: 576px) {
  .modal-content .modal-footer .button:nth-child(1) {
    margin-right: 10px;
  }
}
@media (max-width: 444px) {
  .modal-content .modal-footer .button:nth-child(1) {
    margin-bottom: 10px;
  }
}
.modal-content .modal-footer .button-panier {
  font-family: "Raleway", sans-serif;
  background-color: #B67090;
  color: #ffffff;
}
.modal-content .modal-footer .button-panier:hover {
  border: 2px solid #B67090;
  background-color: transparent;
  color: #B67090;
}

/* panier */
/* Product panier */
.container-product-panier {
  margin-top: 70px;
}
@media (max-width: 576px) {
  .container-product-panier {
    margin-top: 30px;
  }
}
.container-product-panier .product,
.container-product-panier .color,
.container-product-panier .price {
  font-size: 36px;
}
@media (max-width: 768px) {
  .container-product-panier .product,
.container-product-panier .color,
.container-product-panier .price {
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  .container-product-panier .product,
.container-product-panier .color,
.container-product-panier .price {
    font-size: 28px;
  }
}
.container-product-panier #container-total {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
@media (max-width: 768px) {
  .container-product-panier #container-total {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .container-product-panier #container-total {
    font-size: 18px;
  }
}
.container-product-panier #container-total .totalPrice {
  margin-right: 20px;
}
.container-product-panier #container-product-panier .product-name,
.container-product-panier #container-product-panier .product-color,
.container-product-panier #container-product-panier .product-price,
.container-product-panier #container-product-panier .empty-panier {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
}
@media (max-width: 768px) {
  .container-product-panier #container-product-panier .product-name,
.container-product-panier #container-product-panier .product-color,
.container-product-panier #container-product-panier .product-price,
.container-product-panier #container-product-panier .empty-panier {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .container-product-panier #container-product-panier .product-name,
.container-product-panier #container-product-panier .product-color,
.container-product-panier #container-product-panier .product-price,
.container-product-panier #container-product-panier .empty-panier {
    font-size: 18px;
  }
}

/* form */
.order-form {
  margin: 70px 0 90px;
}
@media (max-width: 576px) {
  .order-form {
    margin: 0 0 40px 0;
  }
}
.order-form .title-form {
  font-weight: 500;
  font-size: 36px;
}
@media (max-width: 768px) {
  .order-form .title-form {
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  .order-form .title-form {
    font-size: 28px;
  }
}
.order-form .label {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-right: 15px;
}
.order-form .emptyField {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #B67090;
}
.order-form input, .order-form textarea {
  height: 50px;
  width: 250px;
  font-family: "Raleway", sans-serif;
  border: 1px solid #e1e0e0;
}
.order-form #address {
  padding-top: 13px;
}

/* commande */
/* Container order */
.container-order {
  margin: 70px 0 800px 0;
}
@media (max-width: 576px) {
  .container-order {
    margin-top: 30px;
  }
}
.container-order .orderId,
.container-order .totalPrice {
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .container-order .orderId,
.container-order .totalPrice {
    font-size: 28px;
  }
}
.container-order #orderId,
.container-order #totalPrice {
  margin-top: 12px;
}
.container-order p {
  font-size: 20px;
}
@media (max-width: 576px) {
  .container-order p {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
