/* Container order */
.container-order {
    margin-bottom: 800px;
    p {
        color: $darkgrey;
    }
    .orderId,
    .totalPrice {
        font-family: $font_2;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
    }
}