/* container teddies */
#container-teddies {
  .product {
    display: flex;
    @media (max-width: 992px) {
      margin-bottom: 120px;
    }
    @media (max-width: 576px) {
      margin-bottom: 80px;
    }
    &:nth-child(1) {
      margin-top: 50px;
      @media (max-width: 576px) {
        margin-top: 25px;
      }
    }
    &:nth-child(2n) {
    flex-direction: row-reverse;
    }
    .name-product {
      cursor: pointer;
    }
  }
  .img-fluid {
    cursor: pointer;
  }
}
