/* Product panier */
.container-product-panier {
    margin-top: 70px;
    @media (max-width: 576px) {
        margin-top: 30px;
    }
    .product,
    .color,
    .price {
        font-size: 36px;
        @media (max-width: 768px) {
            font-size: 34px;
        }
        @media (max-width: 576px) {
            font-size: 28px;
        }
    }
    #container-total {
        font-family: $font_2;
        font-weight: 500;
        font-size: 24px;
        @media (max-width: 768px) {
            font-size: 22px;
        }
        @media (max-width: 576px) {
            font-size: 18px;
        }
        .totalPrice {
            margin-right: 20px;
        }
    }
    #container-product-panier {
        .product-name,
        .product-color,
        .product-price,
        .empty-panier {
            font-family: $font_2;
            font-size: 22px;
            @media (max-width: 768px) {
                font-size: 20px;
            }
            @media (max-width: 576px) {
                font-size: 18px;
            }
        }
    }
}


/* form */
.order-form {
    margin: 70px 0 90px;
    @media (max-width: 576px) {
        margin: 0 0 40px 0;
    }
    .title-form {
        font-weight: 500;
        font-size: 36px;
        @media (max-width: 768px) {
            font-size: 34px;
        }
        @media (max-width: 576px) {
            font-size: 28px;
        }
    }
    .label {
        font-family: $font_2;
        font-weight: 500;
    }
    input, textarea {
        height: 50px;
        width: 250px;
        font-family: $font_2;
        border: 1px solid $lightgrey;
    }
    #address {
        padding-top: 13px;
    }
}
