.container-shop-table {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}

#container-product-panier{
    .product-panier {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
