/* Container product */
#container-product {
  transform: translateY(-75px);
  @media (max-width: 992px) {
    transform: none;
  }
  .page-product {
    display: flex;
    align-items: center;
    .picture-product {
      width: 100%;
      border: 30px solid $white;
      @media (max-width: 992px) {
        border: none;
      }
    }
    .product {
      transform: translateY(93px);
      @media (max-width: 1200px) {
        transform: translateY(75px);
      }
      @media (max-width: 992px) {
        transform: none;
      }
      .title {
        font-family: $font_1;
        font-size: 36px;
        &::after {
          content: "";
          display: block;
          border-bottom: 3px solid $purple;
          width: 65px;
          height: 5px;
          @media (max-width: 576px) {
            width: 40px;
          }
        }
      }
      .description {
        margin-top: 30px;
      }
      .wrapper-colors-price {
        display: flex;
        align-items: center;
        .price-product {
          font-family: $font_2;
          font-size: 22px;
          font-weight: 500;
          margin: 0 20px 0 0;
        }
        .colors {
          #color-product {
            height: 33px;
            cursor: pointer;
            font-family: $font_2;
            font-weight: 500;
          }
        }
      }
      .button {
        margin-top: 40px;
      }
    }
  }
}

/* Modal */
.modal-content {
  .modal-title {
    font-family: $font_2;
    font-weight: 600;
  }
  .close {
    border: none;
    background: transparent;
    font-family: $font_2;
    color: $purple;
    font-size: 26px;
    font-weight: 800;
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #modal-body {
    font-family: $font_2;
    color: $darkgrey;
    padding: 15px;
  }
  .modal-footer {
    & > * {
      @media (max-width: 576px) {
        margin: 0;
      }
    }
    .button {
      font-size: 14px;
      padding: 12px 20px;
      &:nth-child(1) {
        @media (max-width: 576px) {
          margin-right: 10px;
        }
        @media (max-width: 444px) {
          margin-bottom: 10px;
        }
      }
    }
    .button-panier {
      font-family: $font_2;
      background-color: $purple;
      color: $white;
      &:hover {
      border: 2px solid $purple;
      background-color: transparent;
      color: $purple;
      }
    }
  }
}
