/* typo */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Raleway:wght@400;500;600;700&display=swap');

$font_1: 'Gloria Hallelujah', cursive;
$font_2: 'Raleway', sans-serif;

h1,
h3 {
  font-family: $font_1;
}

h2 {
  font-family: $font_2;
  font-weight: 500;
}

p {
  font-family: $font_2;
  font-weight: 400;
  font-size: 17px;
}

/* button */
.button {
  font-family: $font_2;
  padding: 12px 30px;
  text-transform: uppercase;
  font-weight: 600;
  background: transparent;
  border: 2px solid $purple;
  color: $purple;
  &:hover {
    background-color: $purple;
    color: $white;
  }
}