/* navigation */
.navbar-custom {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: $pink;
    .navbar-brand {
      font-family: $font_1;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1.6px;
      font-weight: 700;
      margin-right: 40px;
      .logo {
        max-width: 160px;
        @media (max-width: 576px) {
          max-width: 120px;
        }
      }
    }
    .navbar-toggler {
      border: none;
      font-size: 24px;
      &:focus {
        box-shadow: none;
        text-decoration: none;
      }
      i {
        font-size: 35px;
        color: $purple;
        @media (max-width: 576px) {
          font-size: 30px;
        }
      }
    }
    .navbar-collapse {
      flex-grow: 0;
      .navbar-nav {
        .nav-item {
          display: flex;
          align-items: center;
          justify-content: center;
          .nav-link {
            font-family: $font_2;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1.6px;
            color: $black;
            margin-left: 5px;
            &:hover {
              color: $purple;
            }
          }
        }
      }
    } 
  }  

/* masthead */
.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(112px + 72px);
  padding-bottom: 112px;
  background-color: $purple;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  @media (min-width: 992px) {
    padding-top: calc(160px + 55px);
    padding-bottom: 160px;
  }
  .masthead-content {
    z-index: 1;
    position: relative; 
  }
  .scroll {
    transform: translateY(120px);
    @media (max-width: 992px) {
      transform: translateY(80px);
    }
    i {
      font-size: 35px;
      color: $white;
      @media (max-width: 576px) {
        font-size: 30px;
      }
    }
  }
}